.todo {
  background-color: aqua;
  color: antiquewhite;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.todo:hover {
  background-color: black;
}
